# First, explicitly allow files in repsample
!repsample/
repsample/*
!repsample/*.csv
!repsample/*.det.lc

# Then ignore everything else
# Ignore log files
*.log
log.*

# Ignore image files
*.png

# Ignore NumPy files
*.npy

# Ignore LC files
*.lc
*.det.lcdata

# Ignore Fisher matrix files
*.det.fm.0

# Ignore text files
*.txt

# Ignore DS Store
.DS_Store

# Ignore pickled outputs
*.pkl

# VSCode stuff
.vscode

# Ignore state objects
*.out.hdf5
*.out.pkl
*.out.txt
*.out.csv
*.out.json

# Ignore compressed files
*.gz
*.bz2
*.tar
*.zip
*.rar
*.7z

# Ignore pycache
__pycache__/
*.pyc
Data/__pycache__/
Event/__pycache__/
Fit/__pycache__/
Orbit/__pycache__/

# Ignore ZIP folder
ZIPME/

# Specifically ignore data folders
sample-241113/
trash/
